Service References/ReportGetInvoice/ReportGetInvoice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReportGetInvoice" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://musteritestws.isisbilisim.com.tr/services/ReportGetInvoice.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://musteritestws.isisbilisim.com.tr/services/ReportGetInvoice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportGetInvoice_GetOutboundUuidByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOutboundUuidByID" />
  </wsdl:message>
  <wsdl:message name="IReportGetInvoice_GetOutboundUuidByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOutboundUuidByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IReportGetInvoice_GetOutboundInvoiceAsUblTr_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOutboundInvoiceAsUblTr" />
  </wsdl:message>
  <wsdl:message name="IReportGetInvoice_GetOutboundInvoiceAsUblTr_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOutboundInvoiceAsUblTrResponse" />
  </wsdl:message>
  <wsdl:message name="IReportGetInvoice_GetOutboundInvoiceAsUblTrByModuleAndReference_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOutboundInvoiceAsUblTrByModuleAndReference" />
  </wsdl:message>
  <wsdl:message name="IReportGetInvoice_GetOutboundInvoiceAsUblTrByModuleAndReference_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOutboundInvoiceAsUblTrByModuleAndReferenceResponse" />
  </wsdl:message>
  <wsdl:message name="IReportGetInvoice_GetOutboundInvoiceAsUblTrByUUID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOutboundInvoiceAsUblTrByUUID" />
  </wsdl:message>
  <wsdl:message name="IReportGetInvoice_GetOutboundInvoiceAsUblTrByUUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOutboundInvoiceAsUblTrByUUIDResponse" />
  </wsdl:message>
  <wsdl:message name="IReportGetInvoice_GetOutboundInvoiceAsUblTrByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOutboundInvoiceAsUblTrByID" />
  </wsdl:message>
  <wsdl:message name="IReportGetInvoice_GetOutboundInvoiceAsUblTrByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOutboundInvoiceAsUblTrByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IReportGetInvoice_GetInboundUuidByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInboundUuidByID" />
  </wsdl:message>
  <wsdl:message name="IReportGetInvoice_GetInboundUuidByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInboundUuidByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IReportGetInvoice_GetInboundUblInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInboundUblInvoice" />
  </wsdl:message>
  <wsdl:message name="IReportGetInvoice_GetInboundUblInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInboundUblInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="IReportGetInvoice_GetInboundInvoiceAsUblTrByUUID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInboundInvoiceAsUblTrByUUID" />
  </wsdl:message>
  <wsdl:message name="IReportGetInvoice_GetInboundInvoiceAsUblTrByUUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInboundInvoiceAsUblTrByUUIDResponse" />
  </wsdl:message>
  <wsdl:message name="IReportGetInvoice_GetInboundInvoiceAsUblTrByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInboundInvoiceAsUblTrByID" />
  </wsdl:message>
  <wsdl:message name="IReportGetInvoice_GetInboundInvoiceAsUblTrByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInboundInvoiceAsUblTrByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IReportGetInvoice_InboundInvoiceAsIsisTr_InputMessage">
    <wsdl:part name="parameters" element="tns:InboundInvoiceAsIsisTr" />
  </wsdl:message>
  <wsdl:message name="IReportGetInvoice_InboundInvoiceAsIsisTr_OutputMessage">
    <wsdl:part name="parameters" element="tns:InboundInvoiceAsIsisTrResponse" />
  </wsdl:message>
  <wsdl:portType name="IReportGetInvoice">
    <wsdl:operation name="GetOutboundUuidByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportGetInvoice/GetOutboundUuidByID" message="tns:IReportGetInvoice_GetOutboundUuidByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportGetInvoice/GetOutboundUuidByIDResponse" message="tns:IReportGetInvoice_GetOutboundUuidByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOutboundInvoiceAsUblTr">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportGetInvoice/GetOutboundInvoiceAsUblTr" message="tns:IReportGetInvoice_GetOutboundInvoiceAsUblTr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportGetInvoice/GetOutboundInvoiceAsUblTrResponse" message="tns:IReportGetInvoice_GetOutboundInvoiceAsUblTr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOutboundInvoiceAsUblTrByModuleAndReference">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportGetInvoice/GetOutboundInvoiceAsUblTrByModuleAndReference" message="tns:IReportGetInvoice_GetOutboundInvoiceAsUblTrByModuleAndReference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportGetInvoice/GetOutboundInvoiceAsUblTrByModuleAndReferenceResponse" message="tns:IReportGetInvoice_GetOutboundInvoiceAsUblTrByModuleAndReference_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOutboundInvoiceAsUblTrByUUID">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportGetInvoice/GetOutboundInvoiceAsUblTrByUUID" message="tns:IReportGetInvoice_GetOutboundInvoiceAsUblTrByUUID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportGetInvoice/GetOutboundInvoiceAsUblTrByUUIDResponse" message="tns:IReportGetInvoice_GetOutboundInvoiceAsUblTrByUUID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOutboundInvoiceAsUblTrByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportGetInvoice/GetOutboundInvoiceAsUblTrByID" message="tns:IReportGetInvoice_GetOutboundInvoiceAsUblTrByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportGetInvoice/GetOutboundInvoiceAsUblTrByIDResponse" message="tns:IReportGetInvoice_GetOutboundInvoiceAsUblTrByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInboundUuidByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportGetInvoice/GetInboundUuidByID" message="tns:IReportGetInvoice_GetInboundUuidByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportGetInvoice/GetInboundUuidByIDResponse" message="tns:IReportGetInvoice_GetInboundUuidByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInboundUblInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportGetInvoice/GetInboundUblInvoice" message="tns:IReportGetInvoice_GetInboundUblInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportGetInvoice/GetInboundUblInvoiceResponse" message="tns:IReportGetInvoice_GetInboundUblInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInboundInvoiceAsUblTrByUUID">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportGetInvoice/GetInboundInvoiceAsUblTrByUUID" message="tns:IReportGetInvoice_GetInboundInvoiceAsUblTrByUUID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportGetInvoice/GetInboundInvoiceAsUblTrByUUIDResponse" message="tns:IReportGetInvoice_GetInboundInvoiceAsUblTrByUUID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInboundInvoiceAsUblTrByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportGetInvoice/GetInboundInvoiceAsUblTrByID" message="tns:IReportGetInvoice_GetInboundInvoiceAsUblTrByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportGetInvoice/GetInboundInvoiceAsUblTrByIDResponse" message="tns:IReportGetInvoice_GetInboundInvoiceAsUblTrByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InboundInvoiceAsIsisTr">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportGetInvoice/InboundInvoiceAsIsisTr" message="tns:IReportGetInvoice_InboundInvoiceAsIsisTr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportGetInvoice/InboundInvoiceAsIsisTrResponse" message="tns:IReportGetInvoice_InboundInvoiceAsIsisTr_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReportGetInvoice" type="tns:IReportGetInvoice">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOutboundUuidByID">
      <soap:operation soapAction="http://tempuri.org/IReportGetInvoice/GetOutboundUuidByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutboundInvoiceAsUblTr">
      <soap:operation soapAction="http://tempuri.org/IReportGetInvoice/GetOutboundInvoiceAsUblTr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutboundInvoiceAsUblTrByModuleAndReference">
      <soap:operation soapAction="http://tempuri.org/IReportGetInvoice/GetOutboundInvoiceAsUblTrByModuleAndReference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutboundInvoiceAsUblTrByUUID">
      <soap:operation soapAction="http://tempuri.org/IReportGetInvoice/GetOutboundInvoiceAsUblTrByUUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutboundInvoiceAsUblTrByID">
      <soap:operation soapAction="http://tempuri.org/IReportGetInvoice/GetOutboundInvoiceAsUblTrByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInboundUuidByID">
      <soap:operation soapAction="http://tempuri.org/IReportGetInvoice/GetInboundUuidByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInboundUblInvoice">
      <soap:operation soapAction="http://tempuri.org/IReportGetInvoice/GetInboundUblInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInboundInvoiceAsUblTrByUUID">
      <soap:operation soapAction="http://tempuri.org/IReportGetInvoice/GetInboundInvoiceAsUblTrByUUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInboundInvoiceAsUblTrByID">
      <soap:operation soapAction="http://tempuri.org/IReportGetInvoice/GetInboundInvoiceAsUblTrByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InboundInvoiceAsIsisTr">
      <soap:operation soapAction="http://tempuri.org/IReportGetInvoice/InboundInvoiceAsIsisTr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportGetInvoice">
    <wsdl:port name="BasicHttpBinding_IReportGetInvoice" binding="tns:BasicHttpBinding_IReportGetInvoice">
      <soap:address location="http://musteritestws.isisbilisim.com.tr/services/ReportGetInvoice.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>