Service-References/EASY/Easy.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://isisbilisim.com.tr/services/einvoice" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Easy" targetNamespace="http://isisbilisim.com.tr/services/einvoice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="http://erptestep.isisbilisim.com.tr/EInvoiceEasy.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://isisbilisim.com.tr/services/einvoice/Imports">
      <xsd:import schemaLocation="http://erptestep.isisbilisim.com.tr/EInvoiceEasy.svc?xsd=xsd0" namespace="http://isisbilisim.com.tr/services/einvoice" />
      <xsd:import schemaLocation="http://erptestep.isisbilisim.com.tr/EInvoiceEasy.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://erptestep.isisbilisim.com.tr/EInvoiceEasy.svc?xsd=xsd2" namespace="http://isisbilisim.com.tr/data/einvoice" />
      <xsd:import schemaLocation="http://erptestep.isisbilisim.com.tr/EInvoiceEasy.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://erptestep.isisbilisim.com.tr/EInvoiceEasy.svc?xsd=xsd4" namespace="http://isisbilisim.com.tr/core/enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEasy_SendInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:SendInvoice" />
  </wsdl:message>
  <wsdl:message name="IEasy_SendInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="IEasy_SendEnvelope_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEnvelope" />
  </wsdl:message>
  <wsdl:message name="IEasy_SendEnvelope_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEnvelopeResponse" />
  </wsdl:message>
  <wsdl:message name="IEasy_SendResponse_InputMessage">
    <wsdl:part name="parameters" element="tns:SendResponse" />
  </wsdl:message>
  <wsdl:message name="IEasy_SendResponse_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendResponseResponse" />
  </wsdl:message>
  <wsdl:message name="IEasy_GetInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoice" />
  </wsdl:message>
  <wsdl:message name="IEasy_GetInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="IEasy_GetSingleInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleInvoice" />
  </wsdl:message>
  <wsdl:message name="IEasy_GetSingleInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="IEasy_GetStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatus" />
  </wsdl:message>
  <wsdl:message name="IEasy_GetStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IEasy_GetSingleEnvelope_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleEnvelope" />
  </wsdl:message>
  <wsdl:message name="IEasy_GetSingleEnvelope_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleEnvelopeResponse" />
  </wsdl:message>
  <wsdl:message name="IEasy_GetEnvelope_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEnvelope" />
  </wsdl:message>
  <wsdl:message name="IEasy_GetEnvelope_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEnvelopeResponse" />
  </wsdl:message>
  <wsdl:message name="IEasy_GetPostboxList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPostboxList" />
  </wsdl:message>
  <wsdl:message name="IEasy_GetPostboxList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPostboxListResponse" />
  </wsdl:message>
  <wsdl:message name="IEasy_GetPdfInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPdfInvoice" />
  </wsdl:message>
  <wsdl:message name="IEasy_GetPdfInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPdfInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="IEasy_ReceiveDone_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveDone" />
  </wsdl:message>
  <wsdl:message name="IEasy_ReceiveDone_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveDoneResponse" />
  </wsdl:message>
  <wsdl:message name="IEasy_ReceiveEnvelopeDone_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveEnvelopeDone" />
  </wsdl:message>
  <wsdl:message name="IEasy_ReceiveEnvelopeDone_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveEnvelopeDoneResponse" />
  </wsdl:message>
  <wsdl:message name="IEasy_ReceiveInvoiceDone_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveInvoiceDone" />
  </wsdl:message>
  <wsdl:message name="IEasy_ReceiveInvoiceDone_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveInvoiceDoneResponse" />
  </wsdl:message>
  <wsdl:portType name="IEasy">
    <wsdl:operation name="SendInvoice">
      <wsdl:input wsaw:Action="http://isisbilisim.com.tr/services/einvoice/IEasy/SendInvoice" message="tns:IEasy_SendInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://isisbilisim.com.tr/services/einvoice/IEasy/SendInvoiceResponse" message="tns:IEasy_SendInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEnvelope">
      <wsdl:input wsaw:Action="http://isisbilisim.com.tr/services/einvoice/IEasy/SendEnvelope" message="tns:IEasy_SendEnvelope_InputMessage" />
      <wsdl:output wsaw:Action="http://isisbilisim.com.tr/services/einvoice/IEasy/SendEnvelopeResponse" message="tns:IEasy_SendEnvelope_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendResponse">
      <wsdl:input wsaw:Action="http://isisbilisim.com.tr/services/einvoice/IEasy/SendResponse" message="tns:IEasy_SendResponse_InputMessage" />
      <wsdl:output wsaw:Action="http://isisbilisim.com.tr/services/einvoice/IEasy/SendResponseResponse" message="tns:IEasy_SendResponse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoice">
      <wsdl:input wsaw:Action="http://isisbilisim.com.tr/services/einvoice/IEasy/GetInvoice" message="tns:IEasy_GetInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://isisbilisim.com.tr/services/einvoice/IEasy/GetInvoiceResponse" message="tns:IEasy_GetInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSingleInvoice">
      <wsdl:input wsaw:Action="http://isisbilisim.com.tr/services/einvoice/IEasy/GetSingleInvoice" message="tns:IEasy_GetSingleInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://isisbilisim.com.tr/services/einvoice/IEasy/GetSingleInvoiceResponse" message="tns:IEasy_GetSingleInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <wsdl:input wsaw:Action="http://isisbilisim.com.tr/services/einvoice/IEasy/GetStatus" message="tns:IEasy_GetStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://isisbilisim.com.tr/services/einvoice/IEasy/GetStatusResponse" message="tns:IEasy_GetStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSingleEnvelope">
      <wsdl:input wsaw:Action="http://isisbilisim.com.tr/services/einvoice/IEasy/GetSingleEnvelope" message="tns:IEasy_GetSingleEnvelope_InputMessage" />
      <wsdl:output wsaw:Action="http://isisbilisim.com.tr/services/einvoice/IEasy/GetSingleEnvelopeResponse" message="tns:IEasy_GetSingleEnvelope_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEnvelope">
      <wsdl:input wsaw:Action="http://isisbilisim.com.tr/services/einvoice/IEasy/GetEnvelope" message="tns:IEasy_GetEnvelope_InputMessage" />
      <wsdl:output wsaw:Action="http://isisbilisim.com.tr/services/einvoice/IEasy/GetEnvelopeResponse" message="tns:IEasy_GetEnvelope_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPostboxList">
      <wsdl:input wsaw:Action="http://isisbilisim.com.tr/services/einvoice/IEasy/GetPostboxList" message="tns:IEasy_GetPostboxList_InputMessage" />
      <wsdl:output wsaw:Action="http://isisbilisim.com.tr/services/einvoice/IEasy/GetPostboxListResponse" message="tns:IEasy_GetPostboxList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPdfInvoice">
      <wsdl:input wsaw:Action="http://isisbilisim.com.tr/services/einvoice/IEasy/GetPdfInvoice" message="tns:IEasy_GetPdfInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://isisbilisim.com.tr/services/einvoice/IEasy/GetPdfInvoiceResponse" message="tns:IEasy_GetPdfInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveDone">
      <wsdl:input wsaw:Action="http://isisbilisim.com.tr/services/einvoice/IEasy/ReceiveDone" message="tns:IEasy_ReceiveDone_InputMessage" />
      <wsdl:output wsaw:Action="http://isisbilisim.com.tr/services/einvoice/IEasy/ReceiveDoneResponse" message="tns:IEasy_ReceiveDone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveEnvelopeDone">
      <wsdl:input wsaw:Action="http://isisbilisim.com.tr/services/einvoice/IEasy/ReceiveEnvelopeDone" message="tns:IEasy_ReceiveEnvelopeDone_InputMessage" />
      <wsdl:output wsaw:Action="http://isisbilisim.com.tr/services/einvoice/IEasy/ReceiveEnvelopeDoneResponse" message="tns:IEasy_ReceiveEnvelopeDone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveInvoiceDone">
      <wsdl:input wsaw:Action="http://isisbilisim.com.tr/services/einvoice/IEasy/ReceiveInvoiceDone" message="tns:IEasy_ReceiveInvoiceDone_InputMessage" />
      <wsdl:output wsaw:Action="http://isisbilisim.com.tr/services/einvoice/IEasy/ReceiveInvoiceDoneResponse" message="tns:IEasy_ReceiveInvoiceDone_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Easy">
    <wsdl:port name="ReportInvoiceDesignBasicHttpEndpoint" binding="i0:ReportInvoiceDesignBasicHttpEndpoint">
      <soap:address location="http://erptestep.isisbilisim.com.tr/EInvoiceEasy.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>