Service-References/EASY/EInvoiceEasy1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://isisbilisim.com.tr/services/einvoice" elementFormDefault="qualified" targetNamespace="http://isisbilisim.com.tr/services/einvoice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://erptestep.isisbilisim.com.tr/EInvoiceEasy.svc?xsd=xsd2" namespace="http://isisbilisim.com.tr/data/einvoice" />
  <xs:import schemaLocation="http://erptestep.isisbilisim.com.tr/EInvoiceEasy.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://erptestep.isisbilisim.com.tr/EInvoiceEasy.svc?xsd=xsd4" namespace="http://isisbilisim.com.tr/core/enums" />
  <xs:element name="SendInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VKN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SenderAlias" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReceiverAlias" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ByteData" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://isisbilisim.com.tr/data/einvoice" minOccurs="0" name="SendInvoiceResult" nillable="true" type="q1:Contracts.ResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEnvelope">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VKN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ByteData" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEnvelopeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://isisbilisim.com.tr/data/einvoice" minOccurs="0" name="SendEnvelopeResult" nillable="true" type="q2:Contracts.ResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VKN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ETTN" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://isisbilisim.com.tr/data/einvoice" minOccurs="0" name="Response" type="q3:Contracts.CommercialResponseType" />
        <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://isisbilisim.com.tr/data/einvoice" minOccurs="0" name="SendResponseResult" nillable="true" type="q4:Contracts.ResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VKN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://isisbilisim.com.tr/data/einvoice" minOccurs="0" name="GetInvoiceResult" nillable="true" type="q5:Contracts.ResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VKN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://isisbilisim.com.tr/data/einvoice" minOccurs="0" name="GetSingleInvoiceResult" nillable="true" type="q6:Contracts.ResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VKN" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://isisbilisim.com.tr/data/einvoice" minOccurs="0" name="Direction" type="q7:Contracts.DirectionType" />
        <xs:element minOccurs="0" name="ETTN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://isisbilisim.com.tr/data/einvoice" minOccurs="0" name="GetStatusResult" nillable="true" type="q8:Contracts.ResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleEnvelope">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VKN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleEnvelopeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://isisbilisim.com.tr/data/einvoice" minOccurs="0" name="GetSingleEnvelopeResult" nillable="true" type="q9:Contracts.ResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnvelope">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VKN" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://isisbilisim.com.tr/data/einvoice" minOccurs="0" name="Direction" type="q10:Contracts.DirectionType" />
        <xs:element minOccurs="0" name="ETTN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnvelopeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://isisbilisim.com.tr/data/einvoice" minOccurs="0" name="GetEnvelopeResult" nillable="true" type="q11:Contracts.ResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostboxList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReceiverVKN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostboxListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPostboxListResult" nillable="true" type="q12:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPdfInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VKN" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://isisbilisim.com.tr/data/einvoice" minOccurs="0" name="Direction" type="q13:Contracts.DirectionType" />
        <xs:element minOccurs="0" name="ETTN" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://isisbilisim.com.tr/core/enums" minOccurs="0" name="PDFType" nillable="true" type="q14:ArrayOfEnums.PDFType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPdfInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://isisbilisim.com.tr/data/einvoice" minOccurs="0" name="GetPdfInvoiceResult" nillable="true" type="q15:Contracts.ResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveDone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VKN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ETTN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveDoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://isisbilisim.com.tr/data/einvoice" minOccurs="0" name="ReceiveDoneResult" nillable="true" type="q16:Contracts.ResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveEnvelopeDone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VKN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ETTN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveEnvelopeDoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://isisbilisim.com.tr/data/einvoice" minOccurs="0" name="ReceiveEnvelopeDoneResult" nillable="true" type="q17:Contracts.ResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveInvoiceDone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VKN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ETTN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveInvoiceDoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://isisbilisim.com.tr/data/einvoice" minOccurs="0" name="ReceiveInvoiceDoneResult" nillable="true" type="q18:Contracts.ResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>