Service References/ReportInvoiceList/ReportInvoiceList.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://isisbilisim.com.tr/services/einvoice" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://isisbilisim.com.tr/services/einvoice" location="http://musteritestws.isisbilisim.com.tr/Services/einvoice/ReportInvoiceList.svc?wsdl" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IReportInvoiceList" type="i0:IReportInvoiceList">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OutboundInvoiceListByFilter">
      <soap:operation soapAction="http://isisbilisim.com.tr/services/einvoice/IReportInvoiceList/OutboundInvoiceListByFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOutboundInvoiceAsUblDownload">
      <soap:operation soapAction="http://isisbilisim.com.tr/services/einvoice/IReportInvoiceList/SetOutboundInvoiceAsUblDownload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOutboundInvoiceAsReaded">
      <soap:operation soapAction="http://isisbilisim.com.tr/services/einvoice/IReportInvoiceList/SetOutboundInvoiceAsReaded" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InboundInvoiceListByFilter">
      <soap:operation soapAction="http://isisbilisim.com.tr/services/einvoice/IReportInvoiceList/InboundInvoiceListByFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetInboundInvoiceAsIsisTrDownload">
      <soap:operation soapAction="http://isisbilisim.com.tr/services/einvoice/IReportInvoiceList/SetInboundInvoiceAsIsisTrDownload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetInboundInvoiceAsUblDownload">
      <soap:operation soapAction="http://isisbilisim.com.tr/services/einvoice/IReportInvoiceList/SetInboundInvoiceAsUblDownload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetInboundInvoiceAsReaded">
      <soap:operation soapAction="http://isisbilisim.com.tr/services/einvoice/IReportInvoiceList/SetInboundInvoiceAsReaded" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>