Service References/EASY/EInvoiceEasy3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://isisbilisim.com.tr/data/einvoice" elementFormDefault="qualified" targetNamespace="http://isisbilisim.com.tr/data/einvoice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Contracts.ResponseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ByteData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="CommercialResponseEnvelopeUUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ETTN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnvelopeUUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GIBCode" type="xs:int" />
      <xs:element minOccurs="0" name="GIBMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Profile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:Contracts.StatusType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contracts.ResponseType" nillable="true" type="tns:Contracts.ResponseType" />
  <xs:simpleType name="Contracts.StatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK" />
      <xs:enumeration value="ERROR" />
      <xs:enumeration value="PROCCESSING" />
      <xs:enumeration value="ACCEPTED" />
      <xs:enumeration value="REJECTED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Contracts.StatusType" nillable="true" type="tns:Contracts.StatusType" />
  <xs:simpleType name="Contracts.CommercialResponseType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACCEPTED" />
      <xs:enumeration value="REJECTED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Contracts.CommercialResponseType" nillable="true" type="tns:Contracts.CommercialResponseType" />
  <xs:simpleType name="Contracts.DirectionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INBOUND" />
      <xs:enumeration value="OUTBOUND" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Contracts.DirectionType" nillable="true" type="tns:Contracts.DirectionType" />
</xs:schema>